.header .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
}

.navbar a {
  color: rgb(122, 122, 122);
  font-size: var(--font-size-regular);
  font-weight: 700;
  &:hover {
    color: rgb(0, 0, 0);
  }
}
